@import "tailwindcss/base";
@import "tailwindcss/components";

/*
 * Jumpstart Pro default styles
 * Remove these if you'd like to use TailwindUI which expects a clean slate
*/
@import "components/base";
@import "components/actiontext";
@import "components/alert";
@import "components/animation";
@import "components/announcements";
@import "components/avatars";
@import "components/buttons";
@import "components/code";
@import "components/connected_accounts";
@import "components/direct_uploads";
@import "components/docs";
@import "components/forms";
@import "components/icons";
@import "components/iframe";
@import "components/nav";
@import "components/pagination";
@import "components/tabs";
@import "components/trix";
@import "components/typography";
@import "components/util";

@import "tailwindcss/utilities";

@import "tippy.js/dist/tippy.css";
@import "flatpickr/dist/flatpickr.css";
@import "administrate/library/slim-select.scss";


@font-face {
  font-family: 'JetBrains Mono';
  src: url('JetBrainsMono-ExtraLight.ttf');
  font-weight: 300;
} 

@font-face {
  font-family: 'JetBrains Mono';
  src: url('JetBrainsMono-Light.ttf');
  font-weight: 400;
} 

@font-face {
  font-family: 'JetBrains Mono';
  src: url('JetBrainsMono-Regular.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('JetBrainsMono-Medium.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('JetBrainsMono-SemiBold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('JetBrainsMono-Bold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('JetBrainsMono-ExtraBold.ttf');
  font-weight: 900;
}
.custom-switch > [type='checkbox']:checked{
    background-color: transparent !important;
}

.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68D391;
}
.toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68D391;
}
